*{
  padding:0;
  margin:0;
}

#contenedor{
  width: 1200px;
  height: 1000px;
  background: #E1E108;
  margin: 0.5em auto;
  padding: 0.5em;
}

#header{
  text-align: center;
  height: 20%;
  background: #E19908;
  border-radius: 1em;
  margin: 1em;
}
#nav{
  height: 9%;
  background:#086EE1;
  border-radius: 1em;
  margin: 1em;
}

#contenido{
  height: 53%;
  background: #50E108;
  margin: 1em;
}


#footer{
  height: 12%;
  background:#08E1DA;
  border-radius: 1em;
  margin: 1em;
}

#section{
  height: 95%;
  width: 71%;
  background: #C50FF7;
  border-radius: 1em;
  float:left;
  margin: 0.5em;
}

#aside{
  height: 95%;
  width: 25%;
  background:#C50FF7;
  border-radius: 1em;
  float: right;
  margin: 0.5em;
}

.articulo{
  width:96%;
height: 20%;
background: #0FF70F;
margin: 1em;
border-radius: 1em;
}

body{
  background-image: url(hola.jpg);
  background-repeat: no-repeat;
  background-size:150% 500%;
  background-position:center;
  box-sizing: border-box;
  font-family: Lalytta;
}



.menu-bar{
  background:rgb(0,100,0);
  text-transform: uppercase;
  width: auto;
  height:65%;
}


.menu-bar ul{
  display: inline-flex;
  color:#fff;
  margin: 0px 19px;
  text-align: center;
}


.menu-bar ul li{
      width: auto;
      margin: auto;
      padding: 20px;
}



.menu-bar ul li a{
  text-decoration: none;
  color: black;
}



.active, .menu-bar ul li:hover{
  background: #0FF0F7;
  border-radius: 4px;
  border: none;
  color: white;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  margin: 4px 2px;
  cursor: pointer;
}

.fa fa-home{
  text-align: left;
}
.menu-bar .fa{
  margin-right:1px;
}
/*h1{
	font-size: 40px;
	text-align: center;
  color:#03E2CA;
}*/

/*p{
	text-align: center;
	font-size: 40px;
	font-family: OLD ENGLISH;
}*/









img{
  display: block;
  margin: auto;
}

.menu{
    background-color:#000;
}


#menu ul{
      list-style: none;
      margin:0;
      padding: 0;
}


#menu ul li{
  display: inline-block;
  padding: 10px;
}

#menu ul li a{
  color: white;
  display: block;
  padding: 20px 80px;
  text-decoration: none;
}

#menu ul li a:hover{
   background-color: #42B881;
}
.boton1{
      text-decoration: none;
       padding: 20px 54px;
       display: inline-block;
       font-weight: 450;
       color: #BB0B0B;
       border-radius: 6px;
       border: 3px solid #0B13BB;
       text-align: center;
       margin: 20px 50px;

  }
.hola{
	text-align: center;

}
  .boton1:hover{
  	background-color: #03E217;
  }

 .boton1:active{
  	background-color: #0328E2;
  }

.boton2{
      text-decoration: none;
       padding: 20px 54px;
       display: inline-block;
       font-weight: 450;
       color: #113AE3;
       border-radius: 6px;
       border: 3px solid #DE6363;
       text-align: center;
       margin: 20px 50px;
  }

  .boton2:hover{
  	background-color: #B73204;
  }

 .boton2:active{
  	background-color: #0328E2;
  }

.boton3{
      text-decoration: none;
       padding: 20px 54px;
       display: inline-block;
       font-weight: 450;
       color: #BB0B0B;
       border-radius: 6px;
       border: 3px solid #0B13BB;
       text-align: center;
  }

  .boton3:hover{
  	background-color: #03E217;
  }

 .boton3:active{
  	background-color: #0328E2;
  }

  marquee{
   color: white;
   font-size: 60px;
   font-weight:200;
   letter-spacing:8px;
   margin-bottom: 20px;
   background: red;


 }