
.img-descarga2{
	width: 300px;
	height: 200px;
	background-image: url(descarga2.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center left;
}


.img-descarga2: hover{
background-size: 50%;
}
