 


marquee{
   color: white;
   font-size: 60px;
   font-weight:200;
   /* letter-spacing:8px;*/
   /* margin-bottom: 20px;*/
   background: red;
   /*position: relative;*/
   /*animation: text 3s 1;*/


 }